.footer {
    background-color: maroon;
    color: darkgoldenrod;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.link-icons {
    text-align: right;
}