/*-========================================*/

.lesson-table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

.lesson-table-header {
    text-align: center;
    padding: 10px;
    background-color: #852222;
    color: #ffdab9;
    font-size: xx-large;
}

.lesson-table-row-odd {
    background-color: #921a1a;
}

.lesson-table-row-even {
    background-color: #f6cf64;
}

.lesson-table-cell {
    text-align: left;
    padding: 10px;
}

.lesson-table-link-odd {
    text-decoration: none;
    color: goldenrod;
    text-align: center;
}

.lesson-table-link-even {
    text-decoration: none;
    color: maroon;
}

.lesson-table-link-odd:hover {
    color: white;
}

.lesson-table-link-even:hover {
    color: black;
    font-weight: bolder;
}

.lesson-table-text {
    font-size: x-large;
    text-align: center;
}

.btn-complete-lesson, .btn-back-to-list {
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(40, 40, 03, 0.51), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-complete-lesson {
    right: 50px;
}

.btn-complete-lesson:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px maroon, 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-complete-lesson:active {
    background-color: green !important;
}

.btn-back-to-list {
    border-color: maroon !important;
    background-color: maroon !important;
    left: 50px;
}

.btn-back-to-list:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px maroon, 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-back-to-list:active {
    background-color: red !important;
    border-color: red !important;

}

.btn-label {
    position: relative;
    top: 100px !important;
    min-height: 150px;
}

.color-lightgreen {
    color: lightgreen;
}

.color-darkgreen {
    color: darkgreen;
}