.main-nav {
    padding-left: 0;
    padding-right: 0;
}

.navi {

    background-color: maroon;
    color: gold;
    margin-bottom: 12px;
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-align: left;
}
