.bg-site-logout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmLogout {
    background-color: maroon;
    width: 80px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(40, 40, 03, 0.51), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.confirmLogout:hover {
    width: 80px;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px maroon, 0 3px 6px rgba(0, 0, 0, 0.1);
}