.Register {
    padding: 60px 0;
    color: blue;
    margin-left: 40%;

}

.Register Form {
    /* background-color: red; */
    /*margin: 0 auto;*/
    max-width: 266px;
}

.container-fluid {
    background-color: #fff3cd;
    width: 100%;
    height: 100%;
}