.wordButton {
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: maroon;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(40, 40, 03, 0.51), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.wordButton:hover {
    background-color: darkgoldenrod;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(50, 50, 93, 0.96), 0 3px 6px rgba(0, 0, 0, 0.1);
}
