.WordList {
    background-color: #bdb76b;
    padding: 20px;
    min-height: 100vh;
}

.wordButton {
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #7fd1b9;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11),
    0px 1px 3px rgba(0, 0, 0, 0.08);
}

.wordButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(50, 50, 93, 0.16),
    0px 3px 6px rgba(0, 0, 0, 0.1);
}

.loading,
.error {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: #ff4b4b; /* Error color */
}