.WordList {
    background-color: #bdb76b;
    padding: 20px;
    min-height: 100vh;
}
.loading,
.error {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: #ff4b4b; /* Error color */
}